.container.mt-5.mb-5
  .row
    .col-md-12
      .card
        .card-header.custom-card-header
          %h4= @user.new_record? ? 'New User' : 'Edit User'
        .card-body
          = simple_form_for @user, html: { class: 'form-horizontal' } do |form|
            .form-group
              .col-sm-12
                = form.input :name, required: true, input_html: { class: 'form-control' }
            %br
            .form-group
              .col-sm-12
                = form.input :github_url, required: true, input_html: { class: 'form-control' }

            %br
            .form-group
              .col-sm-offset-2.col-sm-12
                %div.float-end
                  = form.submit 'Submit', class: 'btn btn-primary custom-buttom'
                  = link_to users_path, class: "btn btn-secondary mx-2 custom-buttom" do
                    Back
