= render "shared/navbar"

.container.mt-5.mb-5
  .row
    .col-md-12
      .card
        .card-div.d-flex.flex-column
          %h3.font-weight-bold Find Profiles of Github Users
        = render partial: "filter", locals: { url: users_path }

  .row
    .col-md-12
      .session
        .card.card-collection
          .card-content
            - if @results.any?
              = render "collection", results: @results
            - else
              = render "collection_empty"


= render 'shared/add_button'
